In [25]:
import numpy as np
import pandas as pd

In [26]:
df = pd.read_csv('DATA.csv')
df.head(5)

,Unnamed: 0,TITLE,AUTHOR,RATING,REVIEWERS,URL LINKS
0,1,"The Hunger Games (The Hunger Games, #1)",Suzanne Collins,4.32,7251682,https://www.goodreads.com/book/show/2767052-th...
1,2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling,4.50,2881319,https://www.goodreads.com/book/show/2.Harry_Po...
2,3,To Kill a Mockingbird,Harper Lee,4.27,5174551,https://www.goodreads.com/book/show/2657.To_Ki...
3,4,Pride and Prejudice,Jane Austen,4.28,3523201,https://www.goodreads.com/book/show/1885.Pride...
4,5,The Book Thief,Markus Zusak,4.38,2130791,https://www.goodreads.com/book/show/19063.The_...

In [27]:
df.isnull().sum()

Unnamed: 0    0
TITLE         0
AUTHOR        0
RATING        0
REVIEWERS     0
URL LINKS     0
dtype: int64

In [28]:
ch = pd.DataFrame(df['RATING'])
datatype = ch.dtypes
print(datatype)

RATING    float64
dtype: object

## Min Max Normalization

In [29]:
df['minmax_norm_ratings'] = 1 + (df['RATING'] - df['RATING'].min()) / (df['RATING'].max() - df['RATING'].min())*9
df['minmax_norm_ratings']

0      6.225806
1      7.270968
2      5.935484
3      5.993548
4      6.574194
         ...
995    5.470968
996    4.367742
997    5.238710
998    3.554839
999    2.509677
Name: minmax_norm_ratings, Length: 1000, dtype: float64

## Mean Normalization

In [30]:
df['mean_norm_rating'] = 1 + ((df['RATING'] - df['RATING'].mean()) / (df['RATING'].max() - df['RATING'].min()))*9
df['mean_norm_rating']

0      2.399761
1      3.444923
2      2.109439
3      2.167503
4      2.748148
         ...
995    1.644923
996    0.541697
997    1.412665
998   -0.271206
999   -1.316368
Name: mean_norm_rating, Length: 1000, dtype: float64

In [31]:
df

,Unnamed: 0,TITLE,AUTHOR,RATING,REVIEWERS,URL LINKS,minmax_norm_ratings,mean_norm_rating
0,1,"The Hunger Games (The Hunger Games, #1)",Suzanne Collins,4.32,7251682,https://www.goodreads.com/book/show/2767052-th...,6.225806,2.399761
1,2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling,4.50,2881319,https://www.goodreads.com/book/show/2.Harry_Po...,7.270968,3.444923
2,3,To Kill a Mockingbird,Harper Lee,4.27,5174551,https://www.goodreads.com/book/show/2657.To_Ki...,5.935484,2.109439
3,4,Pride and Prejudice,Jane Austen,4.28,3523201,https://www.goodreads.com/book/show/1885.Pride...,5.993548,2.167503
4,5,The Book Thief,Markus Zusak,4.38,2130791,https://www.goodreads.com/book/show/19063.The_...,6.574194,2.748148
...,...,...,...,...,...,...,...,...
995,996,"The Iron Queen (The Iron Fey, #3)",Julie Kagawa,4.19,103998,https://www.goodreads.com/book/show/8685612-th...,5.470968,1.644923
996,997,"Nightshade (Nightshade, #1; Nightshade World, #4)",Andrea Cremer,4.00,84096,https://www.goodreads.com/book/show/7402393-ni...,4.367742,0.541697
997,998,Till We Have Faces,C.S. Lewis,4.15,61709,https://www.goodreads.com/book/show/17343.Till...,5.238710,1.412665
998,999,Journey to the Center of the Earth,Jules Verne,3.86,171939,https://www.goodreads.com/book/show/32829.Jour...,3.554839,-0.271206
999,1000,"Tropic of Cancer (Tropic, #1)",Henry Miller,3.68,67132,https://www.goodreads.com/book/show/249.Tropic...,2.509677,-1.316368