In [49]:
import numpy as np
import pandas as pd

In [50]:
df = pd.read_csv('DATA.csv')
df.head(5)

,Unnamed: 0,TITLE,AUTHOR,RATING,REVIEWERS,URL LINKS
0,1,"The Hunger Games (The Hunger Games, #1)",Suzanne Collins,4.32,7251682,https://www.goodreads.com/book/show/2767052-th...
1,2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling,4.50,2881319,https://www.goodreads.com/book/show/2.Harry_Po...
2,3,To Kill a Mockingbird,Harper Lee,4.27,5174551,https://www.goodreads.com/book/show/2657.To_Ki...
3,4,Pride and Prejudice,Jane Austen,4.28,3523201,https://www.goodreads.com/book/show/1885.Pride...
4,5,The Book Thief,Markus Zusak,4.38,2130791,https://www.goodreads.com/book/show/19063.The_...

In [51]:
df.isnull().sum()

Unnamed: 0    0
TITLE         0
AUTHOR        0
RATING        0
REVIEWERS     0
URL LINKS     0
dtype: int64

In [52]:
ch = pd.DataFrame(df['RATING'])
datatype = ch.dtypes
print(datatype)

RATING    float64
dtype: object

## Min Max Normalization

In [53]:
df['minmax_norm_ratings'] = 1 + (df['RATING'] - df['RATING'].min()) / (df['RATING'].max() - df['RATING'].min())*9
df['minmax_norm_ratings']

0      6.225806
1      7.270968
2      5.935484
3      5.993548
4      6.574194
         ...
995    5.470968
996    4.367742
997    5.238710
998    3.554839
999    2.509677
Name: minmax_norm_ratings, Length: 1000, dtype: float64

## Mean Normalization

In [54]:
df['mean_norm_ratings'] = 1 + ((df['RATING'] - df['RATING'].mean()) / (df['RATING'].max() - df['RATING'].min()))*9
df['mean_norm_ratings']

0      2.399761
1      3.444923
2      2.109439
3      2.167503
4      2.748148
         ...
995    1.644923
996    0.541697
997    1.412665
998   -0.271206
999   -1.316368
Name: mean_norm_ratings, Length: 1000, dtype: float64

In [55]:
df.minmax_norm_ratings = df.minmax_norm_ratings.round(2)
df.mean_norm_ratings = df.mean_norm_ratings.round(2)

In [56]:
df

,Unnamed: 0,TITLE,AUTHOR,RATING,REVIEWERS,URL LINKS,minmax_norm_ratings,mean_norm_ratings
0,1,"The Hunger Games (The Hunger Games, #1)",Suzanne Collins,4.32,7251682,https://www.goodreads.com/book/show/2767052-th...,6.23,2.40
1,2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling,4.50,2881319,https://www.goodreads.com/book/show/2.Harry_Po...,7.27,3.44
2,3,To Kill a Mockingbird,Harper Lee,4.27,5174551,https://www.goodreads.com/book/show/2657.To_Ki...,5.94,2.11
3,4,Pride and Prejudice,Jane Austen,4.28,3523201,https://www.goodreads.com/book/show/1885.Pride...,5.99,2.17
4,5,The Book Thief,Markus Zusak,4.38,2130791,https://www.goodreads.com/book/show/19063.The_...,6.57,2.75
...,...,...,...,...,...,...,...,...
995,996,"The Iron Queen (The Iron Fey, #3)",Julie Kagawa,4.19,103998,https://www.goodreads.com/book/show/8685612-th...,5.47,1.64
996,997,"Nightshade (Nightshade, #1; Nightshade World, #4)",Andrea Cremer,4.00,84096,https://www.goodreads.com/book/show/7402393-ni...,4.37,0.54
997,998,Till We Have Faces,C.S. Lewis,4.15,61709,https://www.goodreads.com/book/show/17343.Till...,5.24,1.41
998,999,Journey to the Center of the Earth,Jules Verne,3.86,171939,https://www.goodreads.com/book/show/32829.Jour...,3.55,-0.27
999,1000,"Tropic of Cancer (Tropic, #1)",Henry Miller,3.68,67132,https://www.goodreads.com/book/show/249.Tropic...,2.51,-1.32

In [57]:
df = df[['URL LINKS','TITLE', 'AUTHOR','REVIEWERS', 'RATING','minmax_norm_ratings','mean_norm_ratings']]
df

,URL LINKS,TITLE,AUTHOR,REVIEWERS,RATING,minmax_norm_ratings,mean_norm_ratings
0,https://www.goodreads.com/book/show/2767052-th...,"The Hunger Games (The Hunger Games, #1)",Suzanne Collins,7251682,4.32,6.23,2.40
1,https://www.goodreads.com/book/show/2.Harry_Po...,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling,2881319,4.50,7.27,3.44
2,https://www.goodreads.com/book/show/2657.To_Ki...,To Kill a Mockingbird,Harper Lee,5174551,4.27,5.94,2.11
3,https://www.goodreads.com/book/show/1885.Pride...,Pride and Prejudice,Jane Austen,3523201,4.28,5.99,2.17
4,https://www.goodreads.com/book/show/19063.The_...,The Book Thief,Markus Zusak,2130791,4.38,6.57,2.75
...,...,...,...,...,...,...,...
995,https://www.goodreads.com/book/show/8685612-th...,"The Iron Queen (The Iron Fey, #3)",Julie Kagawa,103998,4.19,5.47,1.64
996,https://www.goodreads.com/book/show/7402393-ni...,"Nightshade (Nightshade, #1; Nightshade World, #4)",Andrea Cremer,84096,4.00,4.37,0.54
997,https://www.goodreads.com/book/show/17343.Till...,Till We Have Faces,C.S. Lewis,61709,4.15,5.24,1.41
998,https://www.goodreads.com/book/show/32829.Jour...,Journey to the Center of the Earth,Jules Verne,171939,3.86,3.55,-0.27
999,https://www.goodreads.com/book/show/249.Tropic...,"Tropic of Cancer (Tropic, #1)",Henry Miller,67132,3.68,2.51,-1.32

In [45]:
df_new = df.rename(columns={'URL LINKS':'url','TITLE':'title', 'AUTHOR':'author','RATING':'avg_rating','REVIEWERS':'num_rating'})

In [58]:
df_new

,url,title,author,num_rating,avg_rating,minmax_norm_ratings,mean_norm_ratings
0,https://www.goodreads.com/book/show/2767052-th...,"The Hunger Games (The Hunger Games, #1)",Suzanne Collins,7251682,4.32,6.23,2.40
1,https://www.goodreads.com/book/show/2.Harry_Po...,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling,2881319,4.50,7.27,3.44
2,https://www.goodreads.com/book/show/2657.To_Ki...,To Kill a Mockingbird,Harper Lee,5174551,4.27,5.94,2.11
3,https://www.goodreads.com/book/show/1885.Pride...,Pride and Prejudice,Jane Austen,3523201,4.28,5.99,2.17
4,https://www.goodreads.com/book/show/19063.The_...,The Book Thief,Markus Zusak,2130791,4.38,6.57,2.75
...,...,...,...,...,...,...,...
995,https://www.goodreads.com/book/show/8685612-th...,"The Iron Queen (The Iron Fey, #3)",Julie Kagawa,103998,4.19,5.47,1.64
996,https://www.goodreads.com/book/show/7402393-ni...,"Nightshade (Nightshade, #1; Nightshade World, #4)",Andrea Cremer,84096,4.00,4.37,0.54
997,https://www.goodreads.com/book/show/17343.Till...,Till We Have Faces,C.S. Lewis,61709,4.15,5.24,1.41
998,https://www.goodreads.com/book/show/32829.Jour...,Journey to the Center of the Earth,Jules Verne,171939,3.86,3.55,-0.27
999,https://www.goodreads.com/book/show/249.Tropic...,"Tropic of Cancer (Tropic, #1)",Henry Miller,67132,3.68,2.51,-1.32

In [47]:
df_new.to_csv('new_data.csv')
df_new.to_csv('C:/Users/Abubakr/Documents/GitHub/First-Build-Week/streamlit/data/new_data.csv')

In [48]:
data = pd.read_csv('new_data.csv')
data

,Unnamed: 0,url,title,author,num_rating,avg_rating,minmax_norm_ratings,mean_norm_ratings
0,0,https://www.goodreads.com/book/show/2767052-th...,"The Hunger Games (The Hunger Games, #1)",Suzanne Collins,7251682,4.32,6.23,2.40
1,1,https://www.goodreads.com/book/show/2.Harry_Po...,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling,2881319,4.50,7.27,3.44
2,2,https://www.goodreads.com/book/show/2657.To_Ki...,To Kill a Mockingbird,Harper Lee,5174551,4.27,5.94,2.11
3,3,https://www.goodreads.com/book/show/1885.Pride...,Pride and Prejudice,Jane Austen,3523201,4.28,5.99,2.17
4,4,https://www.goodreads.com/book/show/19063.The_...,The Book Thief,Markus Zusak,2130791,4.38,6.57,2.75
...,...,...,...,...,...,...,...,...
995,995,https://www.goodreads.com/book/show/8685612-th...,"The Iron Queen (The Iron Fey, #3)",Julie Kagawa,103998,4.19,5.47,1.64
996,996,https://www.goodreads.com/book/show/7402393-ni...,"Nightshade (Nightshade, #1; Nightshade World, #4)",Andrea Cremer,84096,4.00,4.37,0.54
997,997,https://www.goodreads.com/book/show/17343.Till...,Till We Have Faces,C.S. Lewis,61709,4.15,5.24,1.41
998,998,https://www.goodreads.com/book/show/32829.Jour...,Journey to the Center of the Earth,Jules Verne,171939,3.86,3.55,-0.27
999,999,https://www.goodreads.com/book/show/249.Tropic...,"Tropic of Cancer (Tropic, #1)",Henry Miller,67132,3.68,2.51,-1.32

In [60]:
data.where(data['title']=='The Addiction Manifesto')

,Unnamed: 0,url,title,author,num_rating,avg_rating,minmax_norm_ratings,mean_norm_ratings
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [61]:
data[data['title']=='The Addiction Manifesto']

,Unnamed: 0,url,title,author,num_rating,avg_rating,minmax_norm_ratings,mean_norm_ratings
146,146,https://www.goodreads.com/book/show/58572970-t...,The Addiction Manifesto,Jerry Weaver,1021,4.97,10.0,6.17