In [67]:
import numpy as np
import pandas as pd

In [68]:
data = pd.read_csv('buildDATA.csv')
data.head(5)

,Unnamed: 0,TITLE,AUTHOR,PAGES,RATING,REVIEWERS,PLACE (COUNTRY),ORIGINAL YEAR,URL LINKS
0,1,"The Hunger Games (The Hunger Games, #1)",Suzanne Collins,374,4.32,7251682,United Kingdom,2003,https://www.goodreads.com/book/show/2767052-th...
1,2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling,870,4.50,2881319,United States,1960,https://www.goodreads.com/book/show/2.Harry_Po...
2,3,To Kill a Mockingbird,Harper Lee,336,4.27,5174551,United Kingdom,1813,https://www.goodreads.com/book/show/2657.To_Ki...
3,4,Pride and Prejudice,Jane Austen,279,4.28,3523201,None,2005,https://www.goodreads.com/book/show/1885.Pride...
4,5,The Book Thief,Markus Zusak,552,4.38,2130791,United States,2005,https://www.goodreads.com/book/show/19063.The_...

In [69]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       1000 non-null   int64
 1   TITLE            1000 non-null   object
 2   AUTHOR           1000 non-null   object
 3   PAGES            1000 non-null   int64
 4   RATING           1000 non-null   float64
 5   REVIEWERS        1000 non-null   int64
 6   PLACE (COUNTRY)  1000 non-null   object
 7   ORIGINAL YEAR    1000 non-null   object
 8   URL LINKS        1000 non-null   object
dtypes: float64(1), int64(3), object(5)
memory usage: 70.4+ KB

In [70]:
ndata = data.mask(data.eq('NONE')).dropna()
df = ndata.mask(ndata.eq('None')).dropna()
df

,Unnamed: 0,TITLE,AUTHOR,PAGES,RATING,REVIEWERS,PLACE (COUNTRY),ORIGINAL YEAR,URL LINKS
0,1,"The Hunger Games (The Hunger Games, #1)",Suzanne Collins,374,4.32,7251682,United Kingdom,2003,https://www.goodreads.com/book/show/2767052-th...
1,2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling,870,4.50,2881319,United States,1960,https://www.goodreads.com/book/show/2.Harry_Po...
2,3,To Kill a Mockingbird,Harper Lee,336,4.27,5174551,United Kingdom,1813,https://www.goodreads.com/book/show/2657.To_Ki...
4,5,The Book Thief,Markus Zusak,552,4.38,2130791,United States,2005,https://www.goodreads.com/book/show/19063.The_...
14,15,The Picture of Dorian Gray,Oscar Wilde,272,4.10,1167622,France,2003,https://www.goodreads.com/book/show/5297.The_P...
...,...,...,...,...,...,...,...,...,...
984,985,Timeline,Michael Crichton,489,3.86,197521,United States,1999,https://www.goodreads.com/book/show/7669.Timeline
989,990,"Magician (The Riftwar Saga, #1-2)",Raymond E. Feist,681,4.30,63929,United States,1982,https://www.goodreads.com/book/show/43916.Magi...
992,993,"Gödel, Escher, Bach: An Eternal Golden Braid",Douglas R. Hofstadter,777,4.28,46312,United States,1979,https://www.goodreads.com/book/show/24113.G_de...
997,998,Till We Have Faces,C.S. Lewis,313,4.15,61709,Germany,1956,https://www.goodreads.com/book/show/17343.Till...
998,999,Journey to the Center of the Earth,Jules Verne,240,3.86,171939,France,1864,https://www.goodreads.com/book/show/32829.Jour...

In [71]:
df.isnull().sum()

Unnamed: 0         0
TITLE              0
AUTHOR             0
PAGES              0
RATING             0
REVIEWERS          0
PLACE (COUNTRY)    0
ORIGINAL YEAR      0
URL LINKS          0
dtype: int64

In [72]:
ch = pd.DataFrame(df['RATING'])
datatype = ch.dtypes
print(datatype)

RATING    float64
dtype: object

## Min Max Normalization

In [73]:
df['minmax_norm_ratings'] = 1 + (df['RATING'] - df['RATING'].min()) / (df['RATING'].max() - df['RATING'].min())*9
df['minmax_norm_ratings']

0      6.819549
1      8.037594
2      6.481203
4      7.225564
14     5.330827
         ...
984    3.706767
989    6.684211
992    6.548872
997    5.669173
998    3.706767
Name: minmax_norm_ratings, Length: 334, dtype: float64

## Mean Normalization

In [74]:
df['mean_norm_ratings'] = 1 + ((df['RATING'] - df['RATING'].mean()) / (df['RATING'].max() - df['RATING'].min()))*9
df['mean_norm_ratings']

0      2.445162
1      3.663207
2      2.106816
4      2.851177
14     0.956441
         ...
984   -0.667620
989    2.309824
992    2.174486
997    1.294786
998   -0.667620
Name: mean_norm_ratings, Length: 334, dtype: float64

In [75]:
df.minmax_norm_ratings = df.minmax_norm_ratings.round(2)
df.mean_norm_ratings = df.mean_norm_ratings.round(2)

In [76]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 334 entries, 0 to 998
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           334 non-null    int64
 1   TITLE                334 non-null    object
 2   AUTHOR               334 non-null    object
 3   PAGES                334 non-null    int64
 4   RATING               334 non-null    float64
 5   REVIEWERS            334 non-null    int64
 6   PLACE (COUNTRY)      334 non-null    object
 7   ORIGINAL YEAR        334 non-null    object
 8   URL LINKS            334 non-null    object
 9   minmax_norm_ratings  334 non-null    float64
 10  mean_norm_ratings    334 non-null    float64
dtypes: float64(3), int64(3), object(5)
memory usage: 31.3+ KB

In [77]:
df

,Unnamed: 0,TITLE,AUTHOR,PAGES,RATING,REVIEWERS,PLACE (COUNTRY),ORIGINAL YEAR,URL LINKS,minmax_norm_ratings,mean_norm_ratings
0,1,"The Hunger Games (The Hunger Games, #1)",Suzanne Collins,374,4.32,7251682,United Kingdom,2003,https://www.goodreads.com/book/show/2767052-th...,6.82,2.45
1,2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling,870,4.50,2881319,United States,1960,https://www.goodreads.com/book/show/2.Harry_Po...,8.04,3.66
2,3,To Kill a Mockingbird,Harper Lee,336,4.27,5174551,United Kingdom,1813,https://www.goodreads.com/book/show/2657.To_Ki...,6.48,2.11
4,5,The Book Thief,Markus Zusak,552,4.38,2130791,United States,2005,https://www.goodreads.com/book/show/19063.The_...,7.23,2.85
14,15,The Picture of Dorian Gray,Oscar Wilde,272,4.10,1167622,France,2003,https://www.goodreads.com/book/show/5297.The_P...,5.33,0.96
...,...,...,...,...,...,...,...,...,...,...,...
984,985,Timeline,Michael Crichton,489,3.86,197521,United States,1999,https://www.goodreads.com/book/show/7669.Timeline,3.71,-0.67
989,990,"Magician (The Riftwar Saga, #1-2)",Raymond E. Feist,681,4.30,63929,United States,1982,https://www.goodreads.com/book/show/43916.Magi...,6.68,2.31
992,993,"Gödel, Escher, Bach: An Eternal Golden Braid",Douglas R. Hofstadter,777,4.28,46312,United States,1979,https://www.goodreads.com/book/show/24113.G_de...,6.55,2.17
997,998,Till We Have Faces,C.S. Lewis,313,4.15,61709,Germany,1956,https://www.goodreads.com/book/show/17343.Till...,5.67,1.29
998,999,Journey to the Center of the Earth,Jules Verne,240,3.86,171939,France,1864,https://www.goodreads.com/book/show/32829.Jour...,3.71,-0.67

In [78]:
df = df[['URL LINKS','TITLE', 'AUTHOR','REVIEWERS', 'RATING','minmax_norm_ratings','mean_norm_ratings','PAGES','ORIGINAL YEAR','PLACE (COUNTRY)']]
df

,URL LINKS,TITLE,AUTHOR,REVIEWERS,RATING,minmax_norm_ratings,mean_norm_ratings,PAGES,ORIGINAL YEAR,PLACE (COUNTRY)
0,https://www.goodreads.com/book/show/2767052-th...,"The Hunger Games (The Hunger Games, #1)",Suzanne Collins,7251682,4.32,6.82,2.45,374,2003,United Kingdom
1,https://www.goodreads.com/book/show/2.Harry_Po...,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling,2881319,4.50,8.04,3.66,870,1960,United States
2,https://www.goodreads.com/book/show/2657.To_Ki...,To Kill a Mockingbird,Harper Lee,5174551,4.27,6.48,2.11,336,1813,United Kingdom
4,https://www.goodreads.com/book/show/19063.The_...,The Book Thief,Markus Zusak,2130791,4.38,7.23,2.85,552,2005,United States
14,https://www.goodreads.com/book/show/5297.The_P...,The Picture of Dorian Gray,Oscar Wilde,1167622,4.10,5.33,0.96,272,2003,France
...,...,...,...,...,...,...,...,...,...,...
984,https://www.goodreads.com/book/show/7669.Timeline,Timeline,Michael Crichton,197521,3.86,3.71,-0.67,489,1999,United States
989,https://www.goodreads.com/book/show/43916.Magi...,"Magician (The Riftwar Saga, #1-2)",Raymond E. Feist,63929,4.30,6.68,2.31,681,1982,United States
992,https://www.goodreads.com/book/show/24113.G_de...,"Gödel, Escher, Bach: An Eternal Golden Braid",Douglas R. Hofstadter,46312,4.28,6.55,2.17,777,1979,United States
997,https://www.goodreads.com/book/show/17343.Till...,Till We Have Faces,C.S. Lewis,61709,4.15,5.67,1.29,313,1956,Germany
998,https://www.goodreads.com/book/show/32829.Jour...,Journey to the Center of the Earth,Jules Verne,171939,3.86,3.71,-0.67,240,1864,France

In [79]:
df_new = df.rename(columns={'URL LINKS':'url','TITLE':'title', 'AUTHOR':'author','REVIEWERS':'num_ratings','RATING':'avg_rating','PAGES':'num_pages','ORIGINAL YEAR':'original_publish_year','PLACE (COUNTRY)':'places'})

In [80]:
df_new

,url,title,author,num_ratings,avg_rating,minmax_norm_ratings,mean_norm_ratings,num_pages,original_publish_year,places
0,https://www.goodreads.com/book/show/2767052-th...,"The Hunger Games (The Hunger Games, #1)",Suzanne Collins,7251682,4.32,6.82,2.45,374,2003,United Kingdom
1,https://www.goodreads.com/book/show/2.Harry_Po...,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling,2881319,4.50,8.04,3.66,870,1960,United States
2,https://www.goodreads.com/book/show/2657.To_Ki...,To Kill a Mockingbird,Harper Lee,5174551,4.27,6.48,2.11,336,1813,United Kingdom
4,https://www.goodreads.com/book/show/19063.The_...,The Book Thief,Markus Zusak,2130791,4.38,7.23,2.85,552,2005,United States
14,https://www.goodreads.com/book/show/5297.The_P...,The Picture of Dorian Gray,Oscar Wilde,1167622,4.10,5.33,0.96,272,2003,France
...,...,...,...,...,...,...,...,...,...,...
984,https://www.goodreads.com/book/show/7669.Timeline,Timeline,Michael Crichton,197521,3.86,3.71,-0.67,489,1999,United States
989,https://www.goodreads.com/book/show/43916.Magi...,"Magician (The Riftwar Saga, #1-2)",Raymond E. Feist,63929,4.30,6.68,2.31,681,1982,United States
992,https://www.goodreads.com/book/show/24113.G_de...,"Gödel, Escher, Bach: An Eternal Golden Braid",Douglas R. Hofstadter,46312,4.28,6.55,2.17,777,1979,United States
997,https://www.goodreads.com/book/show/17343.Till...,Till We Have Faces,C.S. Lewis,61709,4.15,5.67,1.29,313,1956,Germany
998,https://www.goodreads.com/book/show/32829.Jour...,Journey to the Center of the Earth,Jules Verne,171939,3.86,3.71,-0.67,240,1864,France

In [81]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 334 entries, 0 to 998
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   url                    334 non-null    object
 1   title                  334 non-null    object
 2   author                 334 non-null    object
 3   num_ratings            334 non-null    int64
 4   avg_rating             334 non-null    float64
 5   minmax_norm_ratings    334 non-null    float64
 6   mean_norm_ratings      334 non-null    float64
 7   num_pages              334 non-null    int64
 8   original_publish_year  334 non-null    object
 9   places                 334 non-null    object
dtypes: float64(3), int64(2), object(5)
memory usage: 28.7+ KB

In [82]:
df_new.to_csv('new_data.csv')
df_new.to_csv('C:/Users/Abubakr/Documents/GitHub/First-Build-Week/streamlit/data/new_data.csv')

In [83]:
new_data = pd.read_csv('new_data.csv')
new_data

,Unnamed: 0,url,title,author,num_ratings,avg_rating,minmax_norm_ratings,mean_norm_ratings,num_pages,original_publish_year,places
0,0,https://www.goodreads.com/book/show/2767052-th...,"The Hunger Games (The Hunger Games, #1)",Suzanne Collins,7251682,4.32,6.82,2.45,374,2003,United Kingdom
1,1,https://www.goodreads.com/book/show/2.Harry_Po...,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling,2881319,4.50,8.04,3.66,870,1960,United States
2,2,https://www.goodreads.com/book/show/2657.To_Ki...,To Kill a Mockingbird,Harper Lee,5174551,4.27,6.48,2.11,336,1813,United Kingdom
3,4,https://www.goodreads.com/book/show/19063.The_...,The Book Thief,Markus Zusak,2130791,4.38,7.23,2.85,552,2005,United States
4,14,https://www.goodreads.com/book/show/5297.The_P...,The Picture of Dorian Gray,Oscar Wilde,1167622,4.10,5.33,0.96,272,2003,France
...,...,...,...,...,...,...,...,...,...,...,...
329,984,https://www.goodreads.com/book/show/7669.Timeline,Timeline,Michael Crichton,197521,3.86,3.71,-0.67,489,1999,United States
330,989,https://www.goodreads.com/book/show/43916.Magi...,"Magician (The Riftwar Saga, #1-2)",Raymond E. Feist,63929,4.30,6.68,2.31,681,1982,United States
331,992,https://www.goodreads.com/book/show/24113.G_de...,"Gödel, Escher, Bach: An Eternal Golden Braid",Douglas R. Hofstadter,46312,4.28,6.55,2.17,777,1979,United States
332,997,https://www.goodreads.com/book/show/17343.Till...,Till We Have Faces,C.S. Lewis,61709,4.15,5.67,1.29,313,1956,Germany
333,998,https://www.goodreads.com/book/show/32829.Jour...,Journey to the Center of the Earth,Jules Verne,171939,3.86,3.71,-0.67,240,1864,France

In [84]:
new_data.where(new_data['title']=='The Addiction Manifesto')

,Unnamed: 0,url,title,author,num_ratings,avg_rating,minmax_norm_ratings,mean_norm_ratings,num_pages,original_publish_year,places
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
329,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
330,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
331,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
332,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [85]:
new_data[new_data['title']=='The Addiction Manifesto']

Empty DataFrame
Columns: [Unnamed: 0, url, title, author, num_ratings, avg_rating, minmax_norm_ratings, mean_norm_ratings, num_pages, original_publish_year, places]
Index: []

In [86]:
new_data[new_data['original_publish_year']=='d -19']

,Unnamed: 0,url,title,author,num_ratings,avg_rating,minmax_norm_ratings,mean_norm_ratings,num_pages,original_publish_year,places
228,703,https://www.goodreads.com/book/show/6320534-un...,Under the Dome,Stephen King,276879,3.91,4.05,-0.33,1074,d -19,Tunisia

In [90]:
data

,Unnamed: 0,TITLE,AUTHOR,PAGES,RATING,REVIEWERS,PLACE (COUNTRY),ORIGINAL YEAR,URL LINKS
0,1,"The Hunger Games (The Hunger Games, #1)",Suzanne Collins,374,4.32,7251682,United Kingdom,2003,https://www.goodreads.com/book/show/2767052-th...
1,2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling,870,4.50,2881319,United States,1960,https://www.goodreads.com/book/show/2.Harry_Po...
2,3,To Kill a Mockingbird,Harper Lee,336,4.27,5174551,United Kingdom,1813,https://www.goodreads.com/book/show/2657.To_Ki...
3,4,Pride and Prejudice,Jane Austen,279,4.28,3523201,None,2005,https://www.goodreads.com/book/show/1885.Pride...
4,5,The Book Thief,Markus Zusak,552,4.38,2130791,United States,2005,https://www.goodreads.com/book/show/19063.The_...
...,...,...,...,...,...,...,...,...,...
995,996,"The Iron Queen (The Iron Fey, #3)",Julie Kagawa,384,4.19,103998,United States,None,https://www.goodreads.com/book/show/8685612-th...
996,997,"Nightshade (Nightshade, #1; Nightshade World, #4)",Andrea Cremer,452,4.00,84096,Greece,None,https://www.goodreads.com/book/show/7402393-ni...
997,998,Till We Have Faces,C.S. Lewis,313,4.15,61709,Germany,1956,https://www.goodreads.com/book/show/17343.Till...
998,999,Journey to the Center of the Earth,Jules Verne,240,3.86,171939,France,1864,https://www.goodreads.com/book/show/32829.Jour...
999,1000,"Tropic of Cancer (Tropic, #1)",Henry Miller,318,3.68,67132,NONE,1934,https://www.goodreads.com/book/show/249.Tropic...

In [97]:
ndata = data.mask(data.eq('NONE')).dropna()
df = ndata.mask(ndata.eq('None')).dropna()
df

,Unnamed: 0,TITLE,AUTHOR,PAGES,RATING,REVIEWERS,PLACE (COUNTRY),ORIGINAL YEAR,URL LINKS
0,1,"The Hunger Games (The Hunger Games, #1)",Suzanne Collins,374,4.32,7251682,United Kingdom,2003,https://www.goodreads.com/book/show/2767052-th...
1,2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling,870,4.50,2881319,United States,1960,https://www.goodreads.com/book/show/2.Harry_Po...
2,3,To Kill a Mockingbird,Harper Lee,336,4.27,5174551,United Kingdom,1813,https://www.goodreads.com/book/show/2657.To_Ki...
4,5,The Book Thief,Markus Zusak,552,4.38,2130791,United States,2005,https://www.goodreads.com/book/show/19063.The_...
14,15,The Picture of Dorian Gray,Oscar Wilde,272,4.10,1167622,France,2003,https://www.goodreads.com/book/show/5297.The_P...
...,...,...,...,...,...,...,...,...,...
984,985,Timeline,Michael Crichton,489,3.86,197521,United States,1999,https://www.goodreads.com/book/show/7669.Timeline
989,990,"Magician (The Riftwar Saga, #1-2)",Raymond E. Feist,681,4.30,63929,United States,1982,https://www.goodreads.com/book/show/43916.Magi...
992,993,"Gödel, Escher, Bach: An Eternal Golden Braid",Douglas R. Hofstadter,777,4.28,46312,United States,1979,https://www.goodreads.com/book/show/24113.G_de...
997,998,Till We Have Faces,C.S. Lewis,313,4.15,61709,Germany,1956,https://www.goodreads.com/book/show/17343.Till...
998,999,Journey to the Center of the Earth,Jules Verne,240,3.86,171939,France,1864,https://www.goodreads.com/book/show/32829.Jour...

In [110]:
test = df.mask(df.eq('-429')).dropna()

In [111]:
test

,Unnamed: 0,TITLE,AUTHOR,PAGES,RATING,REVIEWERS,PLACE (COUNTRY),ORIGINAL YEAR,URL LINKS
0,1,"The Hunger Games (The Hunger Games, #1)",Suzanne Collins,374,4.32,7251682,United Kingdom,2003,https://www.goodreads.com/book/show/2767052-th...
1,2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling,870,4.50,2881319,United States,1960,https://www.goodreads.com/book/show/2.Harry_Po...
2,3,To Kill a Mockingbird,Harper Lee,336,4.27,5174551,United Kingdom,1813,https://www.goodreads.com/book/show/2657.To_Ki...
4,5,The Book Thief,Markus Zusak,552,4.38,2130791,United States,2005,https://www.goodreads.com/book/show/19063.The_...
14,15,The Picture of Dorian Gray,Oscar Wilde,272,4.10,1167622,France,2003,https://www.goodreads.com/book/show/5297.The_P...
...,...,...,...,...,...,...,...,...,...
984,985,Timeline,Michael Crichton,489,3.86,197521,United States,1999,https://www.goodreads.com/book/show/7669.Timeline
989,990,"Magician (The Riftwar Saga, #1-2)",Raymond E. Feist,681,4.30,63929,United States,1982,https://www.goodreads.com/book/show/43916.Magi...
992,993,"Gödel, Escher, Bach: An Eternal Golden Braid",Douglas R. Hofstadter,777,4.28,46312,United States,1979,https://www.goodreads.com/book/show/24113.G_de...
997,998,Till We Have Faces,C.S. Lewis,313,4.15,61709,Germany,1956,https://www.goodreads.com/book/show/17343.Till...
998,999,Journey to the Center of the Earth,Jules Verne,240,3.86,171939,France,1864,https://www.goodreads.com/book/show/32829.Jour...

In [112]:
test[test['ORIGINAL YEAR']=='-429']

Empty DataFrame
Columns: [Unnamed: 0, TITLE, AUTHOR, PAGES, RATING, REVIEWERS, PLACE (COUNTRY), ORIGINAL YEAR, URL LINKS]
Index: []